
.text-tittle{
    font-size: 23px;
    font-weight: 400;
    color: #fcd050;
}
.text-caption,  .text-more-mentors{
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

.container-mentor-select{
    background-color: #244e73;
    margin: 5px 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
}
.text-description{
    font-weight: 400;
    color: white;
}
.text-description-skill{
    color: white;
    margin-bottom: 10px; 
}

.description-mentor-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-section-skills{
    display: flex;
    flex-direction: column;
}
.section-skills{
    display: flex;
    justify-content: space-between;
}
.skills{
    background-color: #fcd050;
    border-radius: 10px;
    border: none;
    height: 20px;
    width: 80px;
    font-size: 10px; 
}