.container-main-screenChat{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px 50px;
}
.btn-return{
    width: 10%;
    height:30px;
    background-color: #002855;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    font-size: 10PX;
    cursor: pointer;
}
.text-title-viewContact{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20PX;
    color: white;
}
.container-screem-chat{
    width: 100%;
    height: 300px;
    background-color: #244e73;
    margin-top: 10px;
    border-radius: 10px;
    overflow-y: scroll;
}
.container-screem-chat::-webkit-scrollbar,
.container-msg::-webkit-scrollbar
 {
    -webkit-appearance: none;
}

.container-screem-chat::-webkit-scrollbar:horizontal,
.container-msg::-webkit-scrollbar:horizontal {
    height: 3px;
}

.container-screem-chat::-webkit-scrollbar:vertical,
.container-msg::-webkit-scrollbar:vertical {
    width: 8px;
}

.container-screem-chat::-webkit-scrollbar-thumb,
.container-msg::-webkit-scrollbar-thumb {
    background-color: #F3E9DF;
    border-radius: 20px;
}

.container-screem-chat::-webkit-scrollbar-track,
.container-msg::-webkit-scrollbar-track {
    border-radius: 10px;
}
.container-messageInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.message-input{
    background-color: #244e73;
    border-radius: 10px;
    width: 80%;
    height: 35px;
    border: none;
    padding: 0 0 0 10px;
    color: white;
    outline: none;
}
input::placeholder {
    font-style: italic;
}
.icon-attach{
    color: white;
    font-weight: 500;
}
.btn-sendMessage{
  width: 15%;
  height: 35px;
  color: white;
  background-color: #ce0f65;
  border: none;
  border-radius: 10px;
  letter-spacing: 3px;
  cursor: pointer;
}
.container-msg{
    width: 30%;
    height: 110px;
    background-color: white;
    overflow-y: scroll; 
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
.msg{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 0 15px;
}